.dropdown-container {
  width: 80%;
  height: 346px;
  position: absolute;
  top: 142%;
  left: 55%;
  z-index: 99;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropdown-second-cat {
  border-top: 1px solid grey;
}
