.related-video-container {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.related-video-related-image {
  width: 50%;
}

.related-video-detail {
  width: 50%;
}

.related-video-tilte {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}

.related-video-view-details {
  display: flex;
}

.related-video-author {
  padding: 4px 0px;
  font-size: 16px;
}
